* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px;
    border-color: black;
    border-style:solid; */
}

body {
    margin: 0;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    flex-grow: 0;
   
}

.mega-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

.top-section {
    display: flex;
    justify-content: center;
    height: 300px;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0;
    height: 72px;
    width: 100vw;
    flex: 0 0 auto;
    padding: 20px;
}

.left-header-logo {
    margin-right: auto;

}

.right-header-links {
    display: flex;
    list-style-type: none; 
    gap: 30px;
}


.bottom-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.bottom-left-header {
    display: flex;

}

.bottom-right-header {
    display: flex;

}

.rounded-squares-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: 1 1 auto;

}

.rounded-square1 {

}

.rounded-square2 {
    
}

.rounded-square3 {
    
}

.rounded-square4 {
    
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: 1 1 auto;

}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: 1 1 auto;

}

.blue-rectangle {
    display: flex;

}

.left-text {

}

.right-button {

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    flex: 1 1 auto;

}